{
  "parser": "babel-eslint",

  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "strict": "global",
    "no-unused-vars": [1, {"args": "after-used"}],
    "quotes": [1, "single", "avoid-escape"]
  }
}